@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Barriecito&family=Comfortaa:wght@600&family=Raleway&family=Rouge+Script&display=swap");

body {
  background-color: rgb(0, 0, 0);
  color: #fff;
  font-family: "Barriecito", cursive;
}

/* .emoji {
  font-size: 25px;
  transition-duration: 200ms;
  position: relative;
  top: -2.5rem;
  left: 4.5rem;
}

.right-wave {
  rotate: 10deg;
}
.left-wave {
  rotate: -5deg;
} */

.vertical-timeline-element-date {
  color: #fff;
}
